.book{
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid black;
}

.form-group input{
    padding: 1px !important;
    padding-left: 10px !important;
}

.item{
    background-color: #eeeeee;
}

.form-group input:focus{
    border: 2px solid black !important;
    box-shadow: 0 0 0 0!important;
}

.form-group input:hover{
    box-shadow:0px 7px 12px -7px #888;
}

.item .submit:hover{
    box-shadow: 2px 5px 3px 0px #888;
    background-color: #0a3f77 !important;
}

.form-group .erorr{
    border: 1px solid red;
    font-weight: 700;
    color: rgb(73, 2, 2);
}

.data{
    background-image: linear-gradient(#EEE,#Fff);
}

.data div a:hover{
    box-shadow: 2px 5px 3px 0px #888;
    background-color: #0a3f77 !important;
}

.data div button:hover{
    box-shadow: 2px 5px 3px 0px #888;
    background-color: rgb(99, 4, 4);
    border: 0 !important;
}

.header h1{
    color: #aaaaaa;
}

.foot{
    color: #aaaaaa;
}